/* You can add global styles to this file, and also import other style files */
.body {
    background-color: linen;
}

.container {
    background-origin: padding-box;
    background-color:lightsteelblue;
    border: 1px solid lightslategray;
}

