/* You can add global styles to this file, and also import other style files */
.bg {
    background-color: grey;
    text-emphasis: none;
}

.container {
    background-origin: padding-box;
    border: 1px solid grey;
    border-left: 5px solid green;
    border-radius: 0.5%;   
}

