/* You can add global styles to this file, and also import other style files */
.body {
    background-color: grey;
    text-emphasis: none;
}

.container {
    background-origin: padding-box;
    background-color:lightgrey;
    border: 1px solid lightslategray;
    border-radius: 1%;   
}

